<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Search</title>
    <style>
        html {
            height: 100vh;
        }
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            background-image: url('../static/img/mountains.jpg')
        }
    </style>
</head>
<body>
    <h1>Job Search</h1>
    <form action="/report" >
        <input placeholder="Search for a job" required name="keyword"/>
        <button>Search</button>
    </form>
</body>
</html>